.menu ul{list-style:none;background-image:url(images/menu_bg.png);display:block;height:50px;background-repeat:no-repeat;
margin:0;padding:0px；}
.menu ul li{float:left;}
.menu a{text-decoration:none;display:block;width:140px;height:55px;line-height:55px;color:#333;text-align:center;}
.menu a:hover{background-image:url(images/menu_bg1.png);height:50px;color:#fff;}
.menu img{position:relative;top:12px;left:45px;}